<div class="container">
    <div class="row">
      <div class="col-md rightBorder">
          <h4 class="text-center header">Order System</h4>
          <app-input-textbox #inputTextBox></app-input-textbox>
          <app-output-textbox #outputTextBox></app-output-textbox>
          <app-button (apagaTexto)="submitOrder($event)" #botao></app-button>
      </div>
      <div class="col-md">
        <h4 class="text-center header">Order History</h4>
        <app-grid #grid></app-grid>
      </div>
    </div> 
</div>
